@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/SFMono-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/SFMono-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/SFMono-Semibold.woff2') format('woff2');
}

:root {
    --transition: 0.2s;
    --background-color: #0a192f;
    --background-secondary: #112240;
    --principal-color: #8892b0;
    --secondary-color: #ccd6f6;
    --tertiary-color: #a8b2d1;
    --principal-green: #64ffda;
    --color-border: #233554;
    --button-hover: #133040;
    --shadow:rgba(2, 12, 27, 0.7);
    --text-font: 'Roboto Mono', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:  smooth;
    scroll-margin: 30px;
}

a {
    color: inherit;
    text-decoration: none;
    text-decoration-skip-ink: auto;
}

button {
    border: 0;
    outline: 0;
    cursor: pointer;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}


img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

body {
    font-family: system-ui, -apple-system, sans-serif;
    background-color: var(--background-color);
    color: var(--principal-color);

}

section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 0px;
}

main {
    padding: 0 150px;
}

.no-scroll {
    overflow: hidden;
}

/* Burguer */
.burguer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-icon-5 {
    width: 35px;
    height: 30px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    transition: var(--transition);
}

.nav-icon-5 span {
    background-color: var(--principal-green);
    position: absolute;
    border-radius: 2px;
    transition: .2s cubic-bezier(.8, .5, .2, 1.4);
    height: 4px;
    transition-duration: var(--transition);
}

.nav-icon-5 span:nth-child(1) {
    top: 0px;
    right: 0px;
    width: 50%;
}

.nav-icon-5 span:nth-child(2) {
    top: 13px;
    right: 0px;
    opacity: 1;
    width: 75%;
}

.nav-icon-5 span:nth-child(3) {
    bottom: 0px;
    right: 0px;
    width: 100%;
}

.nav-icon-5.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 13px;
    width: 100%;
}

.nav-icon-5.open span:nth-child(2) {
    opacity: 0;
    width: 100%;
}

.nav-icon-5.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 13px;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    height: 100px;
    background-color: rgba(10, 25, 47, 0.85);
    backdrop-filter: blur(10px);
    z-index: 10;
}

nav a {
    font-family: var(--text-font);
    font-weight: 300;
    padding: 20px;
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 13px;
    transition: all var(--transition) ease;
}

nav a::before {
    content: "0" counter(item) ".";
    margin-right: 5px;
    color: var(--principal-green);
    font-size: 12px;
    text-align: right;
}

nav a:nth-child(1)::before {
    content: "01.";
}

nav a:nth-child(2)::before {
    content: "02.";
}

nav a:nth-child(3)::before {
    content: "03.";
}

nav a:nth-child(4)::before {
    content: "04.";
}

nav a:hover {
    color: var(--principal-green);
}

header .nav-btn {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--principal-green);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
    display: none;
}

header,
nav {
    display: flex;
    align-items: center;
}

.logo-bx svg {
    font-size: 40px;
    transition: all var(--transition) ease;
    color: var(--principal-green);
}

/*Section content*/
.section-home {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    height: 100vh;
    padding: 0px;
}

section .title-content {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 50px;
    width: 100%;
    font-size: clamp(22px, 5vw, 30px);
    white-space: nowrap;
    color: var(--secondary-color);
}

section .title-content::before {
    position: relative;
    bottom: 4px;
    counter-increment: section 1;
    margin-right: 10px;
    margin-bottom: -10px;
    color: var(--principal-green);
    font-family: var(--text-font);
    font-size: clamp(16px, 3vw, 20px);
    font-weight: 300;
}

section .title-content::after {
    content: "";
    display: block;
    position: relative;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    margin-bottom: -5px;
    background-color: var(--color-border);
}

.section-tabs .title-content::before {
    content: "03.";
}

.section-projects .title-content::before {
    content: "02.";
}

.section-proyects2 .title-content::before {
    content: "02.";
}

.section-contact .title-content::before {
    content: "04.";
}

.main-content {
    max-width: 1000px;
    height: 418px;
    display: flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
}

.main-content h3 {
    color: var(--principal-green);
    font-family: var(--text-font);
    font-weight: 300;
    font-size: clamp(14px, 5vw, 16px);
    margin: 0 0 10px 6px;
}

.main-content h1 {
    font-size: clamp(30px, 8vw, 80px);
    color: var(--secondary-color);
    line-height: 1.1;
}

.main-content h2 {
    font-size: clamp(25px, 8vw, 80px);
    color: var(--principal-color);
    margin-top: 5px;
    line-height: 1.1;
}

.main-content p {
    margin-top: 30px;
    max-width: 540px;
    font-size: 16px;
}

span {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    transition: color 0.25s ease;
    cursor: pointer;
}

p {
    margin: 0;
}

.section-tabs,
.section-contact {
    max-width: 700px;
}

.container {
    position: relative;
    margin: 20px auto;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-start;
}

.container .tabs {
    position: relative;
    z-index: 3;
    width: max-content;
}

.container .tabs .tab {
    font-family: var(--text-font);
    font-weight: 300;
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 14px;
    padding: 10px 20px;
    transition: all 0.25s ease;
    border-left: 2px solid var(--color-border);
    color: var(--principal-color);
    display: flex;
}

.container .tabs .tab:hover {
    color: var(--principal-green);
    background-color: var(--background-secondary);
}

.container .tabs .tab.active {
    color: var(--principal-green);
}

.container .tabs .tab.tab-1.active~.highlighter {
    transform: translateY(0);
}

.container .tabs .tab.tab-2.active~.highlighter {
    transform: translateY(40px);
}

.container .tabs .tab.tab-3.active~.highlighter {
    transform: translateY(80px);
}

.container .tabs .tab.tab-4.active~.highlighter {
    transform: translateY(120px);
}

.container .tabs .highlighter {
    display: block;
    background: var(--principal-green);
    width: 2px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(0);
    transition: transform var(--transition) ease;
    transition-delay: 0.1s;
    z-index: 10;
}

.container .tabs a:first-of-type {
    border-top-left-radius: 2px;
}

.container .tabs a:last-of-type {
    border-top-right-radius: 2px;
}

.container .content {
    position: relative;
    margin-left: 20px;
}

.container .content__section {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    transition: opacity 0s ease;
    pointer-events: none;
}

.container .content__section.visible {
    position: relative;
    opacity: 1;
    transition: opacity 0.5s ease;
    z-index: 2;
    width: 100%;
    height: auto;
    padding: 5px;
    pointer-events: all;
}

.container .content h3 {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    color: var(--secondary-color);
}

.container .content__section ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-size: 15px;
}

.container .content__section ul li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 13px;
}

.container .content__section ul li a {
    transition: all .25s ease;
    position: relative;
}

.container .content__section ul li a:hover {
    color: var(--principal-green);
}

.container .content__section ul li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: var(--principal-green);
}

.project-container {
    max-width: 1000px;
}

.project:not(:last-of-type) {
    margin-bottom: 100px;
}

.project {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
}

.project-content {
    position: relative;
    grid-column: 1 / 8;
    grid-row: 1 / -1;
    z-index: 4;
}

.project-reverse {
    grid-column: 6 / -1;
    grid-row: 1 / -1;
}

.project-content .project-label {
    color: var(--principal-green);
    font-family: monospace;
}

.project-reverse .project-label {
    text-align: end;
}

.project-content .project-title {
    font-size: clamp(20px, 5vw, 24px);
    margin: 10px 0 30px;
    color: var(--secondary-color);
    transition: all var(--transition) ease;
}

.project-reverse .project-title {
    text-align: end;
}

.project-content .project-details {
    font-size: 15px;
    line-height: 1.5;
}

.project-content .project-details p {
    background-color: var(--background-secondary);
    padding: 20px 25px;
    color: var(--tertiary-color);
    box-shadow: 0 10px 30px -15px var(--shadow);
    border-radius: 4px;
    line-height: 1.6;
}

.project-content .project-details ul {
    display: flex;
    margin-top: 30px;
}

.project-reverse .project-details ul {
    justify-content: flex-end;
}

.project-content .project-details ul li {
    color: var(--tertiary-color);
    font-family: var(--text-font);
    font-weight: 300;
    font-size: 13px;
}

.project-content .project-details ul li:not(:last-of-type) {
    margin-right: 20px;
}

.projects-links {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    margin-left: -10px;
}

.projects-links a {
    margin: 10px;
}

.projects-links a svg {
    font-size: 20px;
    color: var(--tertiary-color);
    transition: all var(--transition) ease;
}

.projects-links a:hover svg {
    color: var(--principal-green);
}

.project-reverse .projects-links {
    margin-right: -10px;
    justify-content: end;
    margin-left: 0px;
}

.project-img {
    position: relative;
    background-color: var(--principal-green);
    grid-column: 7 / -1;
    grid-row: 1 / -1;
    max-width: 500px;
    border-radius: 5px;
    border: 2px solid var(--background-secondary);
}

.img-reverse {
    grid-column: 1 / 7;
    grid-row: 1 / -1;
}

.project-img:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: var(--background-color);
    mix-blend-mode: screen;
}

.project-img img {
    position: relative;
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1);
    max-width: 500px;
}

.content-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.content-footer a {
    font-size: 13px;
    padding: 10px;
    font-family: var(--text-font);
    font-weight: 300;
    transition: all var(--transition) ease;
    color: var(--tertiary-color);
}

.content-footer a:hover {
    color: var(--principal-green);
    transform: translateY(-4px);
}

/* Other Projects */
.projects-grid {
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    position: relative;
}

.projects-grid .other-projects {
    box-shadow: 0 10px 30px -15px var(--shadow);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    height: 100%;
    padding: 30px;
    border-radius: 4px;
    background-color: var(--background-secondary);
    overflow: auto;
}

.projects-grid .other-projects a {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.projects-grid .project-top {
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 35px;
}

.projects-grid .folder svg {
    font-size: 40px;
    color: var(--principal-green);
}

.projects-grid .project-links svg {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 20px;
    color: var(--tertiary-color);
    transition: all var(--transition) ease;
}

.projects-grid .project-links svg:hover {
    color: var(--principal-green);
}

.projects-grid .project-mid h3 {
    margin: 0px 0px 10px;
    color: var(--secondary-color);
    font-size: 20px;
    transition: all var(--transition) ease;
}

.projects-grid .other-projects:hover h3 {
    color: var(--principal-green);
}

.projects-grid .project-mid p {
    color: var(--tertiary-color);
    font-size: 15px;
}

.projects-grid .project-bottom {
    margin-top: 35px;
}

.projects-grid .project-bottom ul {
    display: flex;
    align-items: flex-end;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0px;
    list-style: none;
}

.projects-grid .project-bottom ul li:not(:last-of-type) {
    margin-right: 15px;
}

.projects-grid .project-bottom ul li {
    font-family: var(--text-font);
    font-weight: 300;
    font-size: 13px;
    line-height: 1.75;
}

.seeMore-btn {
    display: block;
    margin: 40px auto;
    color: var(--principal-green);
    font-family: var(--text-font);
    font-weight: 300;
    background-color: transparent;
    border: 1px solid var(--principal-green);
    border-radius: 4px;
    padding: 15px 40px;
    line-height: 1;
    transition: all var(--transition) ease;
    min-width: 100px;
    font-size: 15px;
}

.seeMore-btn:hover {
    background: var(--button-hover);
}

/* Section Contact*/
.container-contact {
    z-index: 12;
    max-width: 750px;
    width: 100%;
    background: var(--background-secondary);
    border-radius: 4px;
    margin: 50px auto;
    box-shadow: 0 10px 30px -15px var(--shadow);
}

.container-contact .content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px 20px;
}

.content .topic {
    font-size: 22px;
    font-weight: 500;
    color: var(--secondary-color);
    margin-bottom: 30px;
}

.content form {
    width: 100%;
}

.content .input-box {
    height: 50px;
    width: 100%;
    margin-top: 16px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .input-box input {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    padding-left: 16px;
    background: transparent;
    border: 1px solid var(--color-border);
    transition: all 0.3s ease;
    color: var(--tertiary-color);
}

.content .input-box input:focus,
.content .input-box input:valid {
    border-color: var(--principal-green);
    background-color: transparent;
}

.content .input-box label {
    position: absolute;
    left: 18px;
    top: 50%;
    color: var(--tertiary-color);
    font-size: 15px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all var(--transition) ease;
    font-weight: 400;
    background-color: transparent;
}

.content .input-box input:focus~label,
.content .input-box input:valid~label {
    top: 0;
    left: 12px;
    display: 14px;
    color: var(--principal-green);
    background: var(--background-secondary);
    padding: 0 5px;
}

.content .message-box {
    min-height: 100px;
    position: relative;
    margin-top: 16px;
}

.content .message-box textarea {
    position: absolute;
    height: 100%;
    width: 100%;
    resize: none;
    background-color: transparent;
    border: 1px solid var(--color-border);
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    transition: all var(--transition) ease;
    padding: 16px;
    color: var(--tertiary-color);
    font-family: system-ui, -apple-system, sans-serif;
}

.content .message-box textarea:focus,
.content .message-box textarea:valid {
    border-color: var(--principal-green);
    background-color: var(--background-secondary);
}

.content .message-box label {
    position: absolute;
    font-size: 15px;
    color: var(--tertiary-color);
    left: 18px;
    top: 6px;
    pointer-events: none;
    transition: all var(--transition) ease;
    font-weight: 400;
}

.content .message-box textarea:focus~label,
.content .message-box textarea:valid~label {
    left: 12px;
    top: -12px;
    color: var(--principal-green);
    background-color: var(--background-secondary);
    padding: 0 5px;
}

.content .input-box input[type="submit"] {
    color: var(--principal-green);
    font-family: var(--text-font);
    font-weight: 300;
    background-color: transparent;
    border: 1px solid var(--principal-green);
    border-radius: 4px;
    padding: 13px 30px;
    line-height: 1;
    transition: all var(--transition) ease;
    max-width: 200px;
    cursor: pointer;
}

.content .input-box input[type="submit"]:hover {
    background: var(--button-hover);
}

/*Social media & Email*/
.socialmedia {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
}

.socialmedia ul {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.socialmedia ul li a {
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
}

.socialmedia ul li a span {
    color: var(--tertiary-color);
    font-weight: 700;
    transition: all var(--transition) ease;
    font-family: var(--text-font);
}

.socialmedia ul li:last-child {
    padding-bottom: 20px;
}

.socialmedia ul li a svg {
    font-size: 20px;
    color: var(--tertiary-color);
    transition: all var(--transition) ease;
}

.socialmedia ul li a:hover span,
.socialmedia ul li a:hover svg,
.emailcontact span:hover {
    color: var(--principal-green);
    transform: translateY(-4px);
}

.socialmedia ul::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--tertiary-color);
}

.emailcontact {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
}

.emailcontact span {
    margin: 0 auto;
    font-family: var(--text-font);
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    color: var(--tertiary-color);
    transition: all var(--transition) ease;
    cursor: text;
}

.emailcontact::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin-top: 30px;
    margin: 30px 22px 0 18px;
    background-color: var(--tertiary-color);
}

/*Container Lang*/
.container-lang {
    display: block;
    margin-top: 50px;
}

.selectbox {
    width: 150px;
    position: relative;
    transition: all .2s ease;
}

.select {
    background: var(--background-color);
    width: 100%;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .16);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s ease all;
    padding: 11px 20px;
    position: relative;
    border: 1px solid var(--secondary-color);
    z-index: 9;
}

.select.active,
.select:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
    border: 1px solid var(--principal-green);
    background-color: var(--button-hover);
}

.select.active .title,
.select:hover .title {
    color: var(--principal-green);
}

.title {
    color: var(--secondary-color);
    font-weight: 300;
    font-size: 15px;
    font-family: var(--text-font);
}

.options {
    background: transparent;
    border-radius: 4px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
    max-height: 400px;
    overflow: auto;
    z-index: 100;
    width: 100%;
    display: none;
}

.options button {
    width: 100%;
    background-color: var(--background-color);
}

.options.active {
    display: block;
    animation: fadeIn .3s forwards;
    border: 1px solid var(--principal-green);
}

@keyframes fadeIn {
    from {
        transform: translateY(-70px) scale(.5);
    }

    to {
        transform: translateY(0) scale(1);
    }
}

.content-option,
.content-select {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: .2s ease all;
}

.options .content-option {
    padding: 11px 20px;
}

.content-option img,
.content-select img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.options .content-option:hover {
    background: var(--button-hover);
}

.options .content-option:hover .title,
.options .content-option:hover {
    color: var(--principal-green);
}

@media (max-width: 1250px) {

    .socialmedia,
    .emailcontact {
        display: none;
    }
}

@media (max-width: 1080px) {
    main {
        padding: 0px 100px;
    }

    .project-img img {
        object-fit: cover;
        height: 100%;
    }

    .project-img {
        height: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    header .nav-btn {
        visibility: visible;
        opacity: 1;
        display: block;
    }

    header nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--background-color);
        transition: var(--transition);
        transform: translateX(100vh);
    }

    header .responsive_nav {
        transform: none;
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a {
        font-size: 16px;
    }

    nav::before {
        width: 30%;
        background-color: var(--background-color);
    }
}

@media (max-width: 768px) {
    main {
        padding: 0px 50px;
    }

    .main-content p {
        margin-top: 20px;
    }

    section {
        padding: 80px 0px;
    }

    .project:not(:last-of-type) {
        margin-bottom: 70px;
    }

    .project {
        align-items: flex-start;
    }
}

@media screen and (max-width: 600px) {
    .project-content .project-details p {
        background-color: transparent;
        padding: 0 0;
        box-shadow: 0 10px 30px -15px transparent;
    }

    .project-reverse .project-label {
        text-align: start;
    }

    .project-reverse .project-title {
        text-align: start;
    }

    .project-reverse .project-details ul {
        justify-content: flex-start;
    }

    .project-reverse .projects-links {
        justify-content: start;
    }

    .project-reverse .projects-links {
        margin-left: -10px;
    }

    .project-content {
        grid-column: 1 / -1;
        padding: 20px;
        border: 2px solid var(--background-secondary);
        border-radius: 4px;
        overflow: hidden;
    }

    .projects-grid .other-projects {
        padding: 20px;
    }

    .project-img {
        grid-column: 1 / -1;
        opacity: 0.15;
    }
}

@media (max-width: 480px) {
    main {
        padding: 0px 25px;
    }

    .main-content h3 {
        margin: 0 0 10px 2px;
    }

    section {
        padding: 60px 0px;
    }

    .project:not(:last-of-type) {
        margin-bottom: 30px;
    }

    .container {
        display: block;
    }

    .projects-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    section .title-content {
        white-space: normal;
    }

    .container .tabs {
        display: flex;
        overflow-x: auto;
        margin-bottom: 30px;
        width: calc(100% + 30px);
        padding-left: 15px;
        margin-left: -25px;
        padding-bottom: 20px;
    }

    .container .tabs .tab {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        min-width: 120px;
        padding: 0px 15px;
        border-left: 0px;
        border-bottom: 2px solid var(--color-border);
        text-align: center;
    }

    .container .tabs .tab.tab-1.active~.highlighter {
        transform: translateX(0);
    }

    .container .tabs .tab.tab-2.active~.highlighter {
        transform: translateX(120px);
    }

    .container .tabs .tab.tab-3.active~.highlighter {
        transform: translateX(calc(2 * 120px));
    }

    .container .tabs .tab.tab-4.active~.highlighter {
        transform: translateX(calc(3 * 120px));
    }

    .container .tabs .highlighter {
        top: 38px;
        bottom: 0px;
        width: 100%;
        max-width: 120px;
        height: 2px;
        margin-left: 50px;
        transform: translateX(calc(1 * 120px));
        margin-left: 15px;
    }

    .container .content {
        margin-left: 0px;
    }

    .main-content {
        height: 320px;
    }
}